* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
    
}
.container {
    height: 421px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
    

}
.container .into_container {
    display: flex;
    width: 388px;
    height: 185px;
    border: solid 2px black;
    margin: 5px;
    align-items: center;
    justify-content: center;
    
}
h1 {
    margin-bottom: 33px;
    font-size: 80px;
    color: antiquewhite;
}
img {
    width: 388px;
    height: 185px;
}
